.yellow {
  background-color: #f9e42e;
}

.yellow-font {
  color: #f9e42e;
}

.blue {
  background-color: #033048
}

.blue-font {
  color: #033048
}
.grey-font {
  color: #606161
}
.white-font {
  color: #fff
}

.white {
  background-color: #fff
}

.blue {
  background-color: #033048
}

.black {
  background-color: #121212
}
